/* Variables */

:root{
    --basic-black: #000000;
    --basic-white: #ffffff;
    --basic-dark-gray: #333333;
    --btn-blue-hover-bg-blue: #669EC0;
    --btn-blue-active-bg-dark-blue:#5496BD;
    --btn-brown-bg-light-brown: #766357;
    --btn-brown-hover-bg-brown: #604E43;
    --btn-brown-active-bg-dark-brown: #503E33;
    --light-gray: #eeeeee;
    --li-gray: #e5e5e5;
    --dark-gray: #666666;

    --special: #81B3D2;
}

/*Global*/

body{
    min-width: 1200px;
    margin:0;
    padding:0;
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    color: var(--basic-dark-gray);
    text-transform: uppercase;
    background-color: var(--basic-white);
}
a{
    text-decoration: none;
}
img{
    max-width: 100%;
    height: auto;
    text-align: center;
}
.visually-hidden{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}
a.disabled{
    pointer-events: none;
}

/* Grid*/
.page{
    height: 100%;
}
.page-body{
    min-width: 100%;
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    align-content: start;
}

/* Main navidation*/

.main-navigation{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 14px;
    line-height: 26px;
    font-weight: 700;
    color: var(--basic-black);
    background:transparent;
}
.main-header-logo{
    width: 138px;
    height: 70px;
}
/*Container*/
.container{
    width: 1200px;
    margin: 0 auto;
    padding: 0 72px;
}
.main-navigation-wrapper{
    width: 100%;
    margin-top: 15px;
    margin-bottom: 15px;
    background-color: var(--basic-white);
}
.site-navigation{
    display: flex;                                          /*Оставлю пока так*/
    justify-content: space-between;
    list-style: none;
}

/*User Navigation*/

.site-navigation a,
.user-navigation a{
    color: var(--basic-black);
}
.site-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:hover,
.user-navigation a:focus{
    color: var(--special);
}
.site-navigation a:active,
.user-navigation a:active{
    color:  var(--basic-black);
    opacity: 0.3;
}

/*Advantages*/
.main-preview{
    text-align: center;
}
.advantages-list{
    display: flex;
    flex-wrap: wrap;    
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
}
.advantages-item {
    text-align: center;
}
.advantages-item h3{
    font-size: 21px;
    line-height: 21px;
}
.advantages-item:nth-child(4n+1){
    display: flex;
    color: var(--basic-white);
    background-color: var(--special);
}

.offers{
    width: 435px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    
}

.offers span{
    font-size: 21px;
    line-height: 21px;
    font-weight: 700;
    text-align: center;
}


/*Button*/
.button{
    font:inherit;
    text-align: center;
    color: var(--basic-white);
    text-transform: uppercase;
    border: none;
}
.button-blue{
    background-color: var(--special);
}
.button-brown{
    background-color: var(--btn-brown-bg-light-brown);
}
.button-blue:hover,
.button-blue:focus{
    background-color: var( --btn-blue-hover-bg-blue);
}
.button-brown:hover,
.button-brown:focus{
    background-color: var(--btn-brown-hover-bg-brown);
}
.button-blue:active{
    background-color: var(--btn-blue-active-bg-dark-blue);
    color:rgba(255,255,255, 0.3);
}
.button-brown:active{
    background-color: var(--btn-brown-active-bg-dark-brown);
    color:rgba(255,255,255, 0.3);
}

 /*Filter Button*/
.filter-button{
    color:  var(--basic-black);
    opacity: 0.3;
}
.filter-button:hover,
.filter-button:focus{
    color: var(--special);
}
.filter-button:active{
    color: var(--basic-black);
}

/*Footer*/
.main-footer{
    padding: 23px 0;
    color: var(--basic-black);
    background-color: rgba(255,255,255, 0.9);
}
.main-footer .container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
}
.footer-contact{
    margin: 0;
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    
}
.footer-contact a{
    color: var(--basic-black);
    margin: 0;
}
.footer-social ul{
    list-style: none;
    margin: 0 auto;
    justify-self: center;
}
.footer-copyright{
    margin: 0;
    justify-self: end;
}


.pop-up-window{
    display: none;
}
.pop-up-window h2{
    color: var(--basic-white);
    background-color:var(--btn-brown-bg-light-brown) ;
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
}
.pop-up-window label{
    color: var(--basic-black);
    font-size: 14px;
    line-height: 26px;
    font-weight: 700;
}

/*Hotels*/

/*.filter-box{
    display: flex;                              
    flex-wrap: wrap;
    justify-content: space-between;

}                                           Еще подумаю над этим*/

.item-1{
    display: flex;
    margin:0 auto;
    justify-content: space-between;
    padding-left: 76px;
    padding-right: 76px;
    padding-top: 30px;
    padding-bottom: 30px;
}
.item-2{
    display: flex;
    margin:0 auto;
    justify-content: space-between;
    padding-left: 76px;
    padding-right: 76px;
    padding-top: 30px;
    padding-bottom: 30px;
}
.item-3{
    display: flex;
    margin:0 auto;
    justify-content: space-between;
    padding-left: 76px;
    padding-right: 76px;
    padding-top: 30px;
    padding-bottom: 30px;
}
